# edit here
# def/undef for local target
t0att="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_ATT=y \
	CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y"
t0att_undef="TARGET_LOCALE_EUR \
        SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC"
t0tmo="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_TMO=y"
t0tmo_undef="TARGET_LOCALE_EUR"
t0vzw="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_VZW=y"
t0vzw_undef="TARGET_LOCALE_EUR"
t0spr="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_SPR=y"
t0spr_undef="TARGET_LOCALE_EUR"
t0uscc="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_T0_USA_USCC=y"
t0uscc_undef="TARGET_LOCALE_EUR"
t0lte="CONFIG_MACH_T0_EUR_LTE=y"
t0lte_undef=""
